# Папка с зависимостями Node.js
node_modules/

# Локальные настройки IDE или редактора
.vscode/
.idea/
*.iml

# Файлы конфигурации
.env

# Сгенерированные файлы сборки
build/
dist/

# Логи и временные файлы
logs/
temp/
*.log

# Кэшированные файлы
.cache/

# Временные файлы проекта
*.tmp

# Зависимости Yarn
.yarn/

# Зависимости npm
package-lock.json
